<div class="tablero">
    <div class="keyboard">
      <div class="row">
        <div class="key verde" (click)="click('verde')" data-key="84">t</div>
      </div>
      <div class="row">
        <div class="key amarillo" (click)="click('amarillo')" data-key="70">f</div>
        <div class="key">simon {{niveles}}</div>
        <div class="key rojo" (click)="click('rojo')" data-key="71">g</div>
      </div>
      <div class="row">
        <div class="key azul" (click)="click('azul')" data-key="86">v</div>
      </div>
    </div>
  </div>


